$raleway: 'Raleway', sans-serif;

$regular: 400;
$light: 200;
$semibold: 600;
$bold: 700;

$text--primary: #000000;

$blue: #001093;
$red: #DF0600;
$yellow: #FFE100;
$burgundy: #691513;
$orange: #BD5237;

